<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8">
    <title>Pizza Creator</title>
</head>
<style>
    div{
        font-family: verdana;
    }
</style>
<body>

<img th:src="@{/images/pizza.jpg}"/>
<h1>Create your own Pizza</h1>
<form method="post" th:object="${creator}">
    <div class="grid">

        <div>
            <h3>Choose sauce:</h3>
            <div th:each="ingredient : ${sauce}">
                <input name="ingredientList" type="checkbox" th:value="${ingredient.id}"/>
                <span  th:text="${ingredient.name}">Ingredient</span><br/>
            </div>
        </div>
        <div>
            <h3>Choose meat:</h3>
            <div th:each="ingredient : ${meat}">
                <input name="ingredientList" type="checkbox" th:value="${ingredient.id}"/>
                <span  th:text="${ingredient.name}">Ingredient</span><br/>
            </div>
        </div>
        <div>
            <h3>Choose vegetables:</h3>
            <div th:each="ingredient : ${vegetable}">
                <input name="ingredientList" type="checkbox" th:value="${ingredient.id}"/>
                <span  th:text="${ingredient.name}">Ingredient</span><br/>
            </div>
        </div>
        <div>
            <h3>Choose cheese:</h3>
            <div th:each="ingredient : ${cheese}">
                <input name="ingredientList" type="checkbox" th:value="${ingredient.id}"/>
                <span  th:text="${ingredient.name}">Ingredient</span><br/>
            </div>
        </div>






    </div>
</form>



</body>
</html>