<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8">
    <title>House of Pizza</title>
</head>
<body>
<script>
    function clock() {// We create a new Date object and assign it to a variable called "time".
        var time = new Date(),
            // Access the "getHours" method on the Date object with the dot accessor.
            hours = time.getHours(),
            // Access the "getMinutes" method with the dot accessor.
            minutes = time.getMinutes(),
            seconds = time.getSeconds();
        document.querySelectorAll('.clock')[0].innerHTML = harold(hours) + ":" + harold(minutes) + ":" + harold(seconds);
        function harold(standIn) {
            if (standIn < 10) {
                standIn = '0' + standIn
            }
            return standIn;
        }
    }
    setInterval(clock, 1000);
</script>
<div class="clock" style="position: fixed; right: 400px; top: 10px"></div>

    <h1>Welcome in <b>HOUSE OF PIZZA</b> </h1>
    <button><a th:href="@{/creator}">CREATE YOUR OWN PIZZA</a></button>
    <img th:src="@{/images/pizza.jpg}"/>
</body>
</html>