<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8">
    <title>House of Pizza</title>
</head>
<body>
<script>
    function clock() {// We create a new Date object and assign it to a variable called "time".
        var time = new Date(),
            // Access the "getHours" method on the Date object with the dot accessor.
            hours = time.getHours(),
            // Access the "getMinutes" method with the dot accessor.
            minutes = time.getMinutes(),
            seconds = time.getSeconds();
        document.querySelectorAll('.clock')[0].innerHTML = harold(hours) + ":" + harold(minutes) + ":" + harold(seconds);
        function harold(standIn) {
            if (standIn < 10) {
                standIn = '0' + standIn
            }
            return standIn;
        }
    }
    setInterval(clock, 1000);
</script>
<div class="clock" style="position: fixed; right: 400px; top: 10px"></div>

    <h1>Welcome in <b>HOUSE OF PIZZA</b> </h1>
    <button><a th:href="@{/creator}">CREATE YOUR OWN PIZZA</a></button>
    <img th:src="@{/images/pizza.jpg}"/>
<div style="position:absolute; right: 400px">
    <p style="font-weight: bold">Find Amazing pizza near you</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d161355.00149752767!2d18.98268626209002!3d50.809453740056725!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4710b5c54e2ca8af%3A0x854f0d4d1a178236!2sCz%C4%99stochowa!5e0!3m2!1spl!2spl!4v1564934342013!5m2!1spl!2spl" width="600" height="330" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
</body>
</html>